[build-system]
requires = ["hatchling>=1.27.0"]
build-backend = "hatchling.build"

[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = [
{% if include_postgresql_plugin %}
  "asyncpg>=0.31.0",
  "greenlet>=3.3.2",
  "psycopg2-binary>=2.9.11",
{% endif %}
  "pydantic-settings>=2.6,<3.0",
{% if include_postgresql_plugin %}
  "sqlalchemy>=2.0.48",
{% endif %}
  "structlog>=25.0,<26.0",
  "typer>=0.16,<1.0",
{% if include_http_runtime %}
  "fastapi>=0.115,<1.0",
  "prometheus-client>=0.22,<1.0",
  "uvicorn[standard]>=0.30,<1.0",
{% endif %}
{% if include_redis_plugin and not include_stream_runtime %}
  "redis>=7.2,<8.0",
{% endif %}
{% if include_stream_runtime and include_redis_plugin %}
  "faststream[redis]>=0.6.7,<0.7",
{% endif %}
]

[project.optional-dependencies]
dev = [
{% if include_postgresql_plugin %}
  "alembic>=1.14,<2.0",
{% endif %}
{% if include_pre_commit %}
  "pre-commit>=4.0,<5.0",
{% endif %}
  "pytest>=8.0,<9.0",
{% if include_http_runtime %}
  "httpx>=0.27,<1.0",
{% endif %}
]

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.hatch.build.targets.wheel]
packages = ["{{ package_name }}"]
