from fastapi import Depends
from fastapi import HTTPException
from fastapi import status
from fastapi.security import OAuth2PasswordBearer

from {{ package_name }}.features.users.dto import CurrentUserDTO
from {{ package_name }}.features.users.infra import JwtAccessTokenService
from {{ package_name }}.features.users.infra import Pbkdf2PasswordService
from {{ package_name }}.features.users.infra import build_users_repository
from {{ package_name }}.features.users.protocols import AccessTokenService
from {{ package_name }}.features.users.protocols import PasswordService
from {{ package_name }}.features.users.use_cases import AuthenticateUserUseCase
from {{ package_name }}.features.users.use_cases import GetCurrentUserUseCase
from {{ package_name }}.features.users.use_cases import GetUserUseCase
from {{ package_name }}.features.users.use_cases import ListUsersUseCase
from {{ package_name }}.protocols import UnitOfWork
from {{ package_name }}.settings import Settings
from {{ package_name }}.settings import get_settings

from .db import get_sqlalchemy_uow

oauth2_scheme = OAuth2PasswordBearer(tokenUrl="/auth/token")


def get_access_token_service(
    settings: Settings = Depends(get_settings),
) -> AccessTokenService:
    return JwtAccessTokenService(
        secret_key=settings.jwt_secret_key,
        algorithm=settings.jwt_algorithm,
        access_token_expire_minutes=settings.jwt_access_token_expire_minutes,
    )


def get_password_service() -> PasswordService:
    return Pbkdf2PasswordService()


def _build_unauthorized_error(detail: str = "Invalid access token.") -> HTTPException:
    return HTTPException(
        status_code=status.HTTP_401_UNAUTHORIZED,
        detail=detail,
        headers={"WWW-Authenticate": "Bearer"},
    )


def get_authenticate_user_use_case(
    uow: UnitOfWork = Depends(get_sqlalchemy_uow),
    access_token_service: AccessTokenService = Depends(get_access_token_service),
    password_service: PasswordService = Depends(get_password_service),
) -> AuthenticateUserUseCase:
    return AuthenticateUserUseCase(
        repository_factory=build_users_repository,
        access_token_service=access_token_service,
        password_service=password_service,
        uow=uow,
    )


def get_current_user_use_case(
    access_token_service: AccessTokenService = Depends(get_access_token_service),
) -> GetCurrentUserUseCase:
    return GetCurrentUserUseCase(
        access_token_service=access_token_service,
    )


def get_get_user_use_case(
    uow: UnitOfWork = Depends(get_sqlalchemy_uow),
) -> GetUserUseCase:
    return GetUserUseCase(
        repository_factory=build_users_repository,
        uow=uow,
    )


def get_list_users_use_case(
    uow: UnitOfWork = Depends(get_sqlalchemy_uow),
) -> ListUsersUseCase:
    return ListUsersUseCase(
        repository_factory=build_users_repository,
        uow=uow,
    )


async def get_current_user(
    token: str = Depends(oauth2_scheme),
    use_case: GetCurrentUserUseCase = Depends(get_current_user_use_case),
) -> CurrentUserDTO:
    try:
        return await use_case.execute(token)
    except ValueError as exc:
        raise _build_unauthorized_error() from exc
