from fastapi import FastAPI
from fastapi.middleware.cors import CORSMiddleware

from {{ package_name }}.infra.logging import configure_logging
from {{ package_name }}.runtimes.http.lifecycle import lifespan
from {{ package_name }}.runtimes.http.middlewares import RequestLoggingMiddleware
from {{ package_name }}.runtimes.http.routers import api_router
from {{ package_name }}.settings import Settings
from {{ package_name }}.settings import get_settings


def setup_middlewares(app_instance: FastAPI, settings: Settings) -> None:
    app_instance.add_middleware(
        RequestLoggingMiddleware,
    )
    app_instance.add_middleware(
        CORSMiddleware,
        allow_origins=settings.cors_allow_origins,
        allow_methods=settings.cors_allow_methods,
        allow_headers=settings.cors_allow_headers,
        allow_credentials=settings.cors_allow_credentials,
    )


def setup_routers(app_instance: FastAPI) -> None:
    app_instance.include_router(api_router)


def build_app() -> FastAPI:
    settings = get_settings()
    configure_logging(settings)

    app = FastAPI(
        title="{{ project_name }}",
        description="{{ project_description }}",
        lifespan=lifespan,
    )
    app.state.settings = settings

    setup_middlewares(app, settings)
    setup_routers(app)
    return app
