from contextlib import asynccontextmanager

from fastapi import FastAPI
import structlog
{% if include_tg_bot_runtime and include_http_runtime %}
from aiogram import Bot

from {{ package_name }}.runtimes.tg_bot.commands import build_commands
{% endif %}

{% if include_postgresql_integration %}
from {{ package_name }}.infra.db import create_db_engine
from {{ package_name }}.infra.db import create_session_factory
{% endif %}
from {{ package_name }}.settings import Settings
from {{ package_name }}.settings import get_settings

logger = structlog.get_logger(__name__)


def load_runtime_settings(app: FastAPI) -> Settings:
    settings = getattr(app.state, "settings", get_settings())
    app.state.settings = settings
    return settings


{% if include_postgresql_integration %}
def setup_db_runtime(app: FastAPI) -> None:
    settings = load_runtime_settings(app)
    app.state.db_engine = create_db_engine(settings)
    app.state.db_session_factory = create_session_factory(app.state.db_engine)


async def teardown_db_runtime(app: FastAPI) -> None:
    await app.state.db_engine.dispose()
{% endif %}
{% if include_tg_bot_runtime and include_http_runtime %}


async def configure_tg_bot(
    *,
    bot: Bot,
    settings: Settings,
) -> None:
    commands = build_commands()
    await bot.set_my_commands(commands)
    await bot.set_webhook(url=settings.telegram_webhook_url)


async def setup_tg_bot_runtime(app: FastAPI) -> None:
    settings = load_runtime_settings(app)
    bot: Bot = app.state.telegram_bot
    await configure_tg_bot(
        bot=bot,
        settings=settings,
    )
    logger.info(
        "Telegram bot configured",
        telegram_webhook_url=settings.telegram_webhook_url,
    )


async def teardown_tg_bot_runtime(app: FastAPI) -> None:
    bot: Bot = app.state.telegram_bot
    await bot.session.close()
{% endif %}


@asynccontextmanager
async def lifespan(app: FastAPI):
    load_runtime_settings(app)
{% if include_postgresql_integration %}
    setup_db_runtime(app)
{% endif %}
{% if include_tg_bot_runtime and include_http_runtime %}
    await setup_tg_bot_runtime(app)
{% endif %}
    logger.info("Application startup")
    try:
        yield
    finally:
{% if include_postgresql_integration %}
        await teardown_db_runtime(app)
{% endif %}
{% if include_tg_bot_runtime and include_http_runtime %}
        await teardown_tg_bot_runtime(app)
{% endif %}
        logger.info("Application shutdown")
