from {{ package_name }}.features.users.dto import GetUserQuery
from {{ package_name }}.features.users.dto import UserDTO
from {{ package_name }}.features.users.protocols import UsersRepositoryFactory
from {{ package_name }}.protocols import UnitOfWork


class GetUserUseCase:
    def __init__(
        self,
        repository_factory: UsersRepositoryFactory,
        uow: UnitOfWork,
    ) -> None:
        self._repository_factory = repository_factory
        self._uow = uow

    async def execute(self, query: GetUserQuery) -> UserDTO | None:
        async with self._uow as uow:
            repository = self._repository_factory(uow)
            return await repository.get_by_id(query.user_id)
