from {{ package_name }}.dto import PageDTO
from {{ package_name }}.features.users.dto import ListUsersQuery
from {{ package_name }}.features.users.dto import UserDTO
from {{ package_name }}.features.users.protocols import UsersRepositoryFactory
from {{ package_name }}.protocols import UnitOfWork


class ListUsersUseCase:
    def __init__(
        self,
        repository_factory: UsersRepositoryFactory,
        uow: UnitOfWork,
    ) -> None:
        self._repository_factory = repository_factory
        self._uow = uow

    async def execute(self, query: ListUsersQuery) -> PageDTO[UserDTO]:
        async with self._uow as uow:
            repository = self._repository_factory(uow)
            return await repository.list(
                page=query.page,
                page_size=query.page_size,
            )
