import asyncio
from typing import Any

from aiogram import Bot
from aiogram import Dispatcher
from fastapi import APIRouter
from fastapi import Depends
from fastapi import Response
from fastapi import status

from {{ package_name }}.runtimes.http.dependencies.tg_bot import get_tg_bot
from {{ package_name }}.runtimes.http.dependencies.tg_bot import get_tg_bot_dispatcher

router = APIRouter(tags=["telegram"])


def schedule_update(
    *,
    bot: Bot,
    dispatcher: Dispatcher,
    payload: dict[str, Any],
) -> None:
    asyncio.create_task(dispatcher.feed_raw_update(bot, payload))


@router.post("/telegram", status_code=status.HTTP_202_ACCEPTED)
async def telegram_webhook(
    payload: dict[str, Any],
    bot: Bot = Depends(get_tg_bot),
    dispatcher: Dispatcher = Depends(get_tg_bot_dispatcher),
) -> Response:
    schedule_update(
        bot=bot,
        dispatcher=dispatcher,
        payload=payload,
    )
    return Response(
        content="ACCEPTED",
        media_type="text/plain",
        status_code=status.HTTP_202_ACCEPTED,
    )
