from .base import BaseSchema
from .base import PageResponse

{% if include_users_feature and include_postgresql_integration -%}
from .users import AccessTokenResponse
from .users import CurrentUserResponse
from .users import UserResponse
{% endif %}

__all__ = [
    "BaseSchema",
    "PageResponse",
{% if include_users_feature and include_postgresql_integration -%}
    "AccessTokenResponse",
    "CurrentUserResponse",
    "UserResponse",
{% endif -%}
]
