from datetime import datetime
from uuid import UUID

from pydantic import Field

from .base import BaseSchema

class CreateUserPayload(BaseSchema):
    email: str = Field(min_length=3, max_length=255)
    full_name: str = Field(min_length=1, max_length=255)


class UserResponse(BaseSchema):
    id: UUID
    email: str
    full_name: str
    is_active: bool
    created_at: datetime
