from datetime import datetime
from uuid import UUID

from pydantic import Field

from .base import BaseSchema

class AccessTokenResponse(BaseSchema):
    access_token: str
    token_type: str
    expires_in: int = Field(gt=0)


class UserResponse(BaseSchema):
    id: UUID
    email: str
    full_name: str
    is_active: bool
    created_at: datetime
